version: '3'

# <-- インデントに気をつける -->

services:
  web-app:
    # ./web-appにindex.htmlを作るとコンテナ内の/usr/src/web-appにもindex.htmlが作られる
    # voluemsについての参考サイト https://www.nyamucoro.com/entry/2018/08/13/222617
    volumes:
      - .:/usr/src/
      - /usr/src/web-app/node_modules
    # Dockerfileの実行
    build:
      # contextをルートディレクトリにし、Dockerfileを参照させる
      context: .
      dockerfile: Dockerfile_web-app
    container_name: web-app
    # 実行させたいコマンド
    # command: sh -c 'cd web-app && yarn start'
    # コンテナを起動させ続けるか
    tty: true
    # コンテナ側とホスト側のポートの設定
    ports:
      - 3000:3000
      # storybook用のポート
      - 6006:6006

  authservice:
    image: authservice
    container_name: authservice
    build:
      context: .
      dockerfile: ./AuthService/Dockerfile
    ports:
      - "7001:7001"
    # depends_on:
    #   - db
    environment:
      - CONTAINER_NAME=authservice
      - PORT=7001
      # - DB_USER=${DB_USER:-postgres}
      # - DB_PASSWD=${DB_PASSWORD:-postgres}
      # - DB_URL=${DB_URL:-r2dbc:postgresql://db:5432/db}
    networks:
      - default

  apartowner:
    image: apartowner
    container_name: apartowner
    build:
      context: .
      dockerfile: ./apartowner/Dockerfile
    ports:
      - "7002:7002"
    environment:
      - CONTAINER_NAME=apartowner
      - PORT=7002
    networks:
      - default
