.login-page {
  height: 100vh;
  display: flex;
}

.left-page {
  display: flex;
  align-items: center;
}

.right-page {
  width: 100%;
  height: 100%;
  background-color: #FCD9A5;
  display: flex;
  flex-direction: column;
}

.select-form {
  height: 100%;

}

.sign-in-form {
  height: 100%;
}
