<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<script type="text/javascript" th:src="@{/Login.js}"></script>
</head>
<body>
<!--てすてす-->
<!--<p id=pman>aa</p>-->
<!--<input type="button" value="JavaScript呼出_demo" onclick="demoTest();" />-->



<form method="post" action="">
<p>ID<br>
<input type="text" name="ID">
<p>名前<br>
    <input type="text" name="name">

    <br>
    <br>
    <input type="button" value="ログイン" id="Login"/>
</form>
</body>
</html>