<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<!--<script type="text/javascript" th:src="@{/Login.js}"></script>-->
</head>
<body>
<!--てすてす-->
<!--<p id=pman>aa</p>-->
<!--<input type="button" value="JavaScript呼出_demo" onclick="demoTest();" />-->



<form method="post" action="">
<p>ID<br>
<input type="text" name="ID">
<p>名前<br>
    <input type="text" name="name">

    <br>
    <br>
    <input type="button" value="ログイン" id="Login"/>

<p>アクセストークン：
    <p id="accesstoken">未生成</p></p>
</form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  // (1) 送信ボタンのHTMLを取得
  const Login = document.getElementById("Login");

  Login.addEventListener('click', (e)=> {
    e.preventDefault();
    $("#accesstoken").text("");
    var json1 = {
      id: document.querySelector('input[name="ID"]').value,
      name: document.querySelector('input[name="name"]').value,
    };
    $.ajax({
      url: "http://localhost:7001/LoginSuccess",
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify(json1),
      dataType: "json",
    })
      .done(function (data1, textStatus, jqXHR) {
        $("#accesstoken").text(JSON.stringify(data1));
      })
      .fail(function (jqXHR, textStatus, errorThrown) {
        $("#accesstoken").text('ログイン失敗'); //例：404
        console.log(jqXHR.status);
      })
      .always(function () {});
 });
  </script>
</html>