<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
</head>
<body>
<p id="p1"></p>
<p id="p2"></p>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $("#p1").text("");
    $("#p2").text("");
    var json1 = {
      id: "1",
      name: "鈴木",
    };
    $.ajax({
      url: "http://localhost:7001/LoginSuccess",
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify(json1),
      dataType: "json",
    })
      .done(function (data1, textStatus, jqXHR) {
        $("#p1").text(jqXHR.status); //例：200
        $("#p2").text(JSON.stringify(data1));
      })
      .fail(function (jqXHR, textStatus, errorThrown) {
        $("#p1").text(jqXHR.status); //例：404
      })
      .always(function () {});
  </script>
</html>